version: '3.8'
services:
  web:
    image: nginx:latest
    volumes:
      - stack_volume:/data
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - webnet
  client:
    image: yajithd/client:latest
    environment:
      CLIENT_ID: "{{ uuid }}"
      SERVER_URL: "http://10.10.3.100:5000/ping"
      TEST_VAR: "v2"
    networks:
      - webnet            

volumes:
  stack_volume:

networks:
  webnet:
