name: test
on: 
  workflow_dispatch:

jobs:
  initialize:
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: |
          echo "test"

  build:
    runs-on: ubuntu-latest
    needs: [initialize]
    steps:
      - name: Test
        run: |
          echo "test"

  run-tests:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Test
        run: |
          echo "test"

  report-status:
    runs-on: ubuntu-latest
    needs: [run-tests]
    steps:
      - name: Test
        run: |
          echo "test"

      # - name: '[preparation] checkout the current branch'
      #   uses: actions/checkout@v4.1.1

      # - uses: actions/setup-node@v4.0.2
      #   with:
      #     node-version: ${{ env.NODE_VERSION }}

      # - name: Test env
      #   run: echo $(env)

      # - name: check docker
      #   run: |
      #     echo $(env)

      # - name: print vars
      #   run: |
      #     echo $(pwd)
      #     echo ${GITHUB_WORKSPACE}

      # - name: check ansible
      #   run: |
      #     echo $(ansible-playbook --version)
